body{margin:0;
  padding: 0;
  width: 100%;}
p{
  color:#666;
  font-size: 1em;
  margin:4px;
  padding: 0;
}
h1{
	font-size: 2em;
	color: #252525;
	margin:6px 4px 0px 4px;
    padding: 0;
    font-weight: bold;
}
.post_date{
	font-size:0.6em;
	color: #949494;
	margin:-4px 4px 4px 8px;
    padding: 0;
}
li{
	color:#666;
  font-size: 1em;
}
.navigation{
padding-bottom: 5px;

border-bottom: 3px solid #f32d2e;
}
img{
  
  
}