@charset "utf-8";
.goods-nav {border: #ff4946 solid 1px;width: 280px;height: 32px;margin: 8px auto 0;font-size: 0;overflow: hidden;border-radius:5px;}
.goods-nav li {display: inline-block;width: 50%;height: 32px;font-size: 14px;line-height: 32px;text-align: center;letter-spacing: 1px;color: #ff4946;}
.goods-nav li.on {background: #ff4946; color: #fff;}
.goods-list-box {padding:0 0 16px;}
.goods-list-box li {padding:16px;border-bottom:#e2e2e2 solid 1px;height:94px;overflow:hidden; background:#fff;position:relative;}
.goods-img {width:94px;height:94px;border-radius:2px;overflow:hidden;float:left;}
.goods-img img {width:100%;height:100%;}
.goods-info {margin-left:110px;height:94px;overflow:hidden;}
.goods-name {font-size:14px;color:rgba(0,0,0,.87);line-height:20px;width:100%;height:40px;overflow:hidden;}
.store-n {color:#999;font-size:13px;height:16px;padding-top:6px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.goods-price {font-size:16px;width:100%;overflow:hidden;color:#ff4946;line-height:16px;padding:13px 0 8px;}
span.marketprice {font-size:12px;color:#999;text-decoration: line-through;padding-left:8px}
.goods-evaluate {font-size:14px;color:rgba(0,0,0,.54);width:100%;overflow:hidden;line-height:14px;}
.goods-evaluate span{padding-right:10px;}
.goods-del {position:absolute;bottom:16px;right:16px;width:24px;height:24px;}
.goods-del span{background:url(../images/del_icon.png) center center no-repeat;background-size:12px auto;display:block;width:24px;height:24px;text-indent:-9999px;}
#storeFavList {display:none;}
.srote-name {font-size:16px;color:#333;line-height:20px;width:100%;height:40px;overflow:hidden;}
.srote-name span.distance {float:right;font-size:12px;color:#999;}
.srote-area {background:url(../images/shopDDirect.png) -4px 2px no-repeat;background-size:18px;font-size: 12px;line-height:20px;color:#999;padding-left:16px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.srote-tel {background:url(../images/shopDTel.png) -4px 2px no-repeat;background-size:18px;font-size: 12px;line-height:20px;color:#999;padding-left:16px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}