*{
margin:0;
padding:0;
font-family:"微软雅黑";
text-decoration:none;
}

header{
width:100%;
height:50px;
background:#f32d2e;
line-height:50px;
text-align:center;
color:#FFFFFF;
font-size:18px;
position:relative;
}

 

.back{
position:absolute;
width:25px;
height:37px;
left:10px;
top:4px;
}

.share{
position:absolute;
width:30px;
height:30px;
right:10px;
top:8px;
}

.collect{
position:absolute;
width:30px;
height:30px;
right:50px;
top:7px;
cursor:pointer;
}

.collected{
position:absolute;
width:30px;
height:30px;
right:50px;
top:7px;
cursor:pointer;
display:none;
}

.se1{
width:100%;
height:200px;
 
}


/*焦点图*/
 *{ margin:0; padding:0; list-style:none;}
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ width:100%; height:200px; margin:20px auto; background:#333; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../images/l.png) no-repeat; position:absolute; top:190px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../images/r.png) no-repeat; position:absolute; top:190px; right:10px; z-index:10;}
#playBox .smalltitle {width:100%; height:10px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#69aaec;}


 
.se2{
width:100%;
height:auto;
}

.details{
width:90%;
height:auto;
margin:0 auto;
margin-top:10px;
border:dashed #CCCCCC 1px;
border-left:none;
border-right:none;
border-top:none;
 
}

.details_top{
width:100%;
height:60px;
position:relative;
overflow:hidden;
line-height:20px;
}

.price{
width:75px;
height:auto;
position:absolute;
right:0;
top:0;
border:solid #CCCCCC 1px;
border-bottom:none;
border-top:none;
border-right:none;
}

.price p{
width:70px;
text-align:right;
}

.details_word{
width:70%;
height:auto;
position:absolute;
left:0;
top:0;
font-size:16px;
}

.details_bottom{
width:100%;
height:30px;
position:relative;
margin-top:5px;
}

.fan{
width:70px;
height:17px;
position:absolute;
left:0;
top:0;
font-size:14px;
line-height:17px;
}

.tui{
width:70px;
height:17px;
position:absolute;
left:70px;
top:0;
font-size:14px;
line-height:17px;
}

.sale{
width:85px;
height:17px;
position:absolute;
right:0;
top:0;
font-size:14px;
line-height:17px;
}

.select{
width:90%;
height:40px;
margin:0 auto;
margin-top:15px;
}

.select ul{
width:100%;
height:40px;
list-style:none;
}

.select ul li{
float:left;
width:30%;
height:40px;
line-height:40px;
text-align:center;
cursor:pointer;
font-size:14px;
}

#select_li1{
border:solid #dcdcdc 1px;
border-radius:10px;
}
/*
#select_li2{
background:#fb9d01;
color:#FFFFFF;
margin-left:4%;
border-radius:10px;
}
*/
#select_li3{
background:#f32d2e;
color:#FFFFFF;
margin-left:4%;
border-radius:10px;
}

.jianxi{
width:100%;
height:10px;
background:#efefef;
margin-top:10px;
}

#se3{
width:100%;
height:auto;
}

.evaluate{
width:90%;
height:auto;
margin:10px auto;
}

.evaluate_top{
width:100%;
height:30px;
position:relative;
 
}

.evaluate_top_left{
width:auto;
height:30px;
position:absolute;
left:0;
top:0;
}

.evaluate_top_left img{
margin-right:3px;
vertical-align:text-bottom;
}

.evaluate_top_right{
width:90px;
height:20px;
color:#949494;
position:absolute;
right:0;
top:0;
font-size:14px;
}

.evaluate_bottom{
width:100%;
height:auto; 
border:dashed #CCCCCC 1px;
border-left:none;
border-right:none;
border-bottom:none;
}

.evaluate_bottom ul{
width:100%;
height:40px;
margin-top:10px;
list-style:none;
}

.evaluate_bottom ul li{
width:32%;
height:40px;
line-height:40px;
text-align:center;
background:#efefef;
color:#f32d2e;
float:left;
font-size:14px;
}

#evaluate_li2{
margin-left:2%;
}

#evaluate_li3{
margin-left:2%;
}

.lss1{
width:32%;
height:40px;
line-height:40px;
text-align:center;
background:#efefef;
color:#f32d2e;
margin-top:10px;
font-size:14px;
position:absolute;
left:0;
top:0;
}

.lss2{
width:60%;
height:40px;
line-height:40px;
text-align:center;
background:#efefef;
color:#909090;
margin-top:10px;
font-size:14px;
position:absolute;
left:34%;
top:0;
}

#se4{
width:100%;
height:auto;
}

.shop_information{
width:90%;
height:30px;
margin:0 auto;
margin-top:10px; 
border:solid #dcdcdc 1px;
border-left:none;
border-right:none;
border-top:none;
position:relative;
}

.shop_title{
position:absolute;
width:auto;
height:30px;
line-height:30px;
left:0;
top:0;
}

.red{
position:absolute;
left:0;
top:4px;
background:#f32d2e;
width:5px;
height:20px;
}

.word{
position:absolute;
left:15px;
top:0;
width:150px;
height:25px;
line-height:25px;
font-size:18px;
}

.distance{

height:30px;
line-height:30px;
position:absolute;
right:0;
top:0;
color:#9c9c9c;
}

.product_details{
width:90%;
height:110px;
border:solid #dddddd 1px;
border-left:none;
border-right:none;
border-top:none;
position:relative;
margin:0 auto;
margin-top:10px;
}

.product_details_left{
float:left;
width:80%;
height:110px;
}

.product_details_left_left{
float:left;
width:85px;
height:110px;
 
}

.product_details_left_right{
float:right;
width:63%;
height:110px;
 
}
.product_details_right{
width:16%;
height:40px;
border:solid #CCCCCC 1px;
border-bottom:none;
border-right:none;
border-top:none;
float:right;
margin-top:30px;
text-align:center;
line-height:40px;
}
 
.count{
width:90%;
height:60px;
margin:0 auto;
}

.count ul{
width:100%;
height:50px;
list-style:none;
margin-top:10px;
}

.count ul li{
float:left;
width:32%;
height:50px;
text-align:center;
 
}

.count ul li p{
width:100%;
height:25px;
line-height:25px;
}

#se5{
width:100%;
height:auto;
}

.se5_content{
width:90%;
height:auto;
margin:0 auto;
 
}

.tuangou{
width:100%;
height:30px;
margin-top:10px;
position:relative;
}

.tuangou_title{
width:auto;
height:30px;
position:relative;
}

.img_details{
width:75px;
height:20px;
color:#949494;
position:absolute;
right:0;
top:0;
font-size:14px;
} 

.cont{
width:100%;
height:auto;
border:solid #dcdcdc 1px;
border-left:none;
border-right:none;
}

.cont_cont{
width:96%;
height:auto;
margin:0 auto;
}

.myfood{
width:100%;
height:30px;
position:relative;
line-height:30px;
font-size:15px;
color:#b2b2b2;
position:relative;
}

.food_num{
position:absolute;
right:50px;
top:0;
width:50px;
height:30px;
border:solid #CCCCCC 1px;
border-right:none;
border-top:none;
border-bottom:none;
text-align:center;
line-height:30px;
}

.food_price{
position:absolute;
right:0;
top:0;
width:50px;
height:30px;
border:solid #CCCCCC 1px;
border-right:none;
border-top:none;
border-bottom:none;
text-align:center;
line-height:30px;
}

.food_details{
margin-top:5px;
font-size:14px;
}

#se6{
width:100%;
height:auto;
}

.buy_know{
width:90%;
height:auto;
margin:0 auto;
}

.buy_know_top{
width:100%;
height:30px;
line-height:30px;
margin-top:10px;
}

.buy_know_bottom{
width:100%;
height:auto;
border:solid #dcdcdc 1px;
border-left:none;
border-right:none;
border-bottom:none;
}

.buy_know_bottom p{
font-size:15px;
margin-top:5px;
}

.slider{position:relative;}/*用于获取更加体验*/
img{ border:none;} 
.img_num{
width:80px;
height:40px;
position:absolute;
bottom:0;
right:0;
 
color:#FFFFFF;
font-size:24px;
line-height:40px;
text-align:center;
}
/*
#screen{
position:absolute;
top:0;
left:0;
background:#000;
z-index:9998; 
display:none;
 
}
#middle{
width:300px;
height:400px;
border:#CCCCCC solid 1px;
display:none;
z-index:9999;
 
position:absolute;
left:0;
top:0;
overflow:hidden;
}
*/
#lz_bottom{ overflow:hidden;}