#top{width: 100%;height:40px;}
.sex{width: 100%;height: 40px; background: #fff;border-bottom: solid #dcdcdc 1px;}
.sex-container{width: 90%;height: 40px;line-height: 40px;margin: 0 auto; font-size: 14px;}