.layer{ z-index:1;}

.layer img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width:100%;
  height:100%;
  position: relative;
  margin:0px;
}

.scene {
  padding: 0;
  margin: 0;
}

.pLBox{ width:100%; width:100%;  overflow:hidden;}