@charset "utf-8";
header {
    position: fixed;
    width:100%;
    height:44px;
    background:#ff4946;
}
header h2 {
    font-size:18px;
    color:#FFF;
    text-align: center;
    line-height: 44px;
}
header .head-back{
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width:44px;
    height:44px;
    background:url("../img/ic-back.png") center no-repeat;
    background-size: auto 20px;
}
.my-main{
    padding-top:44px;
}
.my-list {
    margin-top:10px;
    padding:12px 15px;
    background:#fff;
    border-top:#ddd solid 1px;
    border-bottom:#ddd solid 1px;
}
.my-list p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color:#999;
}
.my-list .order{
    color:#666;
}
.my-list .price{
    color:#ff4946;
}
.pay-way {
    margin-top:10px;
    background:#fff;
    border-top:#ddd solid 1px;
}
.pay-way li {
    position: relative;
    height:36px;
    padding:12px 15px;
    border-bottom:#ddd solid 1px;
}
.pay-way .weixin{
    height:36px;
    font-size: 14px;
    color:#666;
    line-height: 36px;
    padding-left:44px;
    background: url("../img/ic-weixin.png") left center no-repeat;
}
.pay-way span{
    position: absolute;
    top:17px;
    right:15px;
    width:24px;
    height:24px;
    background: url("../img/ic-radio2.png") no-repeat;
}
.payBtn {
    display: block;
    width:90%;
    height:44px;
    margin: 15px auto 0;
    text-align: center;
    color:#fff;
    font-size: 16px;
    line-height: 44px;
    background: #ff4946;
    border-radius: 4px;
}